services:
  api:
    image: food-delivery:api
    build:
      context: .
      dockerfile: apps/food-delivery/Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - "./apps/food-delivery/.env"
    volumes:
      - ./apps:/app/apps
      - ./nx.json:/app/nx.json
      - ./tsconfig.base.json:/app/tsconfig.base.json
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
        reservations:
          cpus: "0.25"
          memory: 128M
    networks:
      - monitoring-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./apps/food-delivery/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - monitoring-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5050:3000"
    volumes:
      - ./apps/food-delivery/monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./apps/food-delivery/monitoring/grafana/dashboards:/etc/grafana/dashboards:ro
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring-network
    depends_on:
      - prometheus

volumes:
  prometheus-data:
  grafana-storage:

networks:
  monitoring-network:
    driver: bridge
