services:
  api:
    build:
      context: .
      dockerfile: apps/food-delivery/dockerfile
    container_name: food-delivery-api
    ports:
      - "3000:3000"
    env_file:
      - "./apps/food-delivery/.env"
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./apps/food-delivery/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5050:3000"
    volumes:
      - ./apps/food-delivery/monitoring/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./apps/food-delivery/monitoring/grafana/dashboards:/etc/grafana/dashboards:ro
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - monitoring

volumes:
  prometheus-data:
  grafana-storage:

networks:
  monitoring:
    driver: bridge
