apiVersion: 1

groups:
  - orgId: 1
    name: food-delivery-alerts
    folder: API Alerts
    interval: 1m

    rules:
      - uid: high-error-rate
        title: High Error Rate
        condition: A
        for: 2m

        data:
          - refId: A
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 300 # ✅ GIÂY
              to: 0
            model:
              expr: (
                sum(rate(http_requests_total{status_code=~"5.."}[5m]))
                /
                clamp_min(sum(rate(http_requests_total[5m])), 1)
                ) * 100

              instant: false

        noDataState: NoData
        execErrState: Error

      - uid: high-latency-p95
        title: High Latency P95
        condition: A
        for: 3m

        data:
          - refId: A
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: histogram_quantile(
                0.95,
                sum(rate(http_request_duration_ms_bucket[5m])) by (le, job)
                )

              instant: false

        noDataState: NoData
        execErrState: Error

      - uid: api-down
        title: API Server Down
        condition: A
        for: 1m

        data:
          - refId: A
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 60
              to: 0
            model:
              expr: sum(up == 0) / count(up) > 0.5
              instant: true

        noDataState: Alerting
        execErrState: Error
